body, html {
	height: 100%;
	margin: 0;
}
.idnumb, input {
	width: 90%;
	position: relative center;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 60px;
	background-color: #fff;
	border: 1px;
	border-color: #fff;

}
.form-group {
	width: 30%;
	margin: 30px;
	.glyphicon {
		color: $quantity-btn-color;
	}
}
